.animalContainers {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 255, 0, 1) ;
    border: 5px solid black;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.allAnimalContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
}
.animal-div{
    h1 {
        font-size: 100px;
        margin: 1px;
    }
    p {
        font-size: 20px;
    }
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.animalJungleHome {
    display: flex;
    background-image: url("https://t3.ftcdn.net/jpg/01/36/89/30/360_F_136893040_rrGzTIulop7TfMHkMGAjiHQybsoDxl6f.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.animalCityHome {
    display: flex;
    background-image: url("https://t3.ftcdn.net/jpg/02/86/06/76/360_F_286067698_sZvY6i0BukkMSxKjMyn1y2YHtfpCRSL9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.animalOceanHome {
    display: flex;
    background-image: url("https://uploads.tickettailor.com/c_scale,w_1920/v1/production/userfiles/icng8kuqpy0gqnezf0iq.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#direction{
    background: 5px solid black;

}